# Fill this file with environment variables and example values.
# Example:

# Application port (default: 3000)
PORT=8080

# Connection string to the database (Required)
DATABASE_URL="postgres://hello:kitty@localhost:5432/dbname"

# OpenID Connect well-known configuration URL (Optional)
# Define to enable SSO login
OIDC_WELL_KNOWN_URL="https://example.com/.well-known/openid-configuration"
